<%- include('./partials/head') %>
<body>
  <header>
    <h1>FDND</h1>
    <h2>Onze squad</h2>
  </header>

  <main>
    <button onclick="berichtje()"><img
      src="kisspng-the-lord-of-the-rings-the-fellowship-of-the-ring-lord-of-the-rings-5ac4e445319fa4.9946379215228529332033.jpg"
      class="smeagol" width="100px"></button>
    <p id="berichtje">Hoi Koop en Krijn ;)</p>
    <img src="assets/image-0.png" class="hover-images" id="foto1" alt="Ibbie Pietersma">
    <img src="assets/image-1.png" class="hover-images" id="foto2" alt="Arlyn Mariaud">
    <img src="assets/image-2.png" class="hover-images" id="foto3" alt="Lynnelle Jays">
    <img src="assets/image-3.png" class="hover-images" id="foto4" alt="Sharia Duchateau">
    <img src="assets/image-4.png" class="hover-images" id="foto5" alt="Rianon Umbert">
    <img src="assets/image-5.png" class="hover-images" id="foto6" alt="Dimitry Arrighini">
    <img src="assets/image-6.png" class="hover-images" id="foto7" alt="Martino Sapauton">
    <img src="assets/image-7.png" class="hover-images" id="foto8" alt="Freedman Camfield">
    <img src="assets/image-8.png" class="hover-images" id="foto9" alt="Opalina Forgie">
    <img src="assets/image-9.png" class="hover-images" id="foto10" alt="Weber Scougall">
    <img src="assets/image-10.png" class="hover-images" id="foto11" alt="Justinn Ccomini">
    <img src="assets/image-11.png" class="hover-images" id="foto12" alt="Sande Keepence">
    <img src="assets/image-12.png" class="hover-images" id="foto13" alt="Cinderella Brose">
    <img src="assets/image-13.png" class="hover-images" id="foto14" alt="Jamal Di Domenico">
    <img src="assets/image-14.png" class="hover-images" id="foto15" alt="Eleanor Jeffers">
    <img src="assets/image-15.png" class="hover-images" id="foto16" alt="Debera Luesley">
    <img src="assets/image-16.png" class="hover-images" id="foto17" alt="Cobb Brimilcome">
    <img src="assets/image-17.png" class="hover-images" id="foto18" alt="Kristan Tinline">
    <img src="assets/image-18.png" class="hover-images" id="foto19" alt="Corinne Gregoire">
    <img src="assets/image-19.png" class="hover-images" id="foto20" alt="Mildrid Curedell">
  </main>
</body>
  <!-- 
<div>
<article>
<ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul>
</article>
</div> -->

  <%- include('./partials/foot') %>