{% render 'partials/head.liquid', title: person.name %}

<link rel="stylesheet" href="/person.css">

<article>
    <h1>{{ person.name }}</h1>
    <section>
        <p>Birthdate: {{ person.birthdate | date: "%d-%m-%Y" }}</p>
        <p>Team: {{ person.team }}</p>
        <details>
            <summary>Favorite code-related stuff</summary>
            <ul>
                <li>Favorite HTML attribute: {{ person.fav_attribute }}</li>
                <li>Favorite CSS property: {{ person.fav_property }}</li>
                <li>Favorite JavaScript feature: {{ person.fav_feature }}</li>
            </ul>
        </details>
        <p> {{ person.bio }} </p>
    </section>
        {% if person.github_handle %}
          <img src="https://github.com/{{ person.github_handle }}.png" alt="{{ person.name }}">
        {% else %}
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Toyger_cat_transparent.png" alt="Default Avatar {{ person.name }}">
        {% endif %}
</article>

<style>
body {
    background: {{ person.fav_color }};
}
</style>

{% render 'partials/foot.liquid', squads: squads %}