{% render 'partials/head.liquid', title: person.name %}

<main>
<h1>Studenten uit Squad 1H</h1>

<p> Filter op: </p>

<select class="filter-1H">
  <option value="">Selecteer een team</option>
  <option value="Cool">Cool</option>
  <option value="Spirit">Spirit</option>
  <option value="Rad">Rad</option>
  <option value="Awesome">Awesome</option>
  <option value="Chill">Chill</option>
  <option value="Rocket">Rocket</option>
  <option value="Blaze">Blaze</option>
</select>

<div class="grid-container">
  {% for person in persons %}
    <a href="/squad1H/{{ person.id }}">
    <article class="grid-item">
      {{ person.fav_color }}
      <p>{{ person.name }}</p>
      <img src="{{ person.avatar }}" alt="{{ person.name }}">
    </article>
    </a>
  {% endfor %}
</div>
</main>

{% render 'partials/foot.liquid', squads: squads %}