{% render 'partials/head.liquid', title: person.name %}

<main>
<h1>Studenten uit Squad 1H</h1>

<div class="filter"
<p> Filter op: </p>

<select class="filter-1H">
  <option value="">Selecteer een team</option>
  <option value="Cool">Cool</option>
  <option value="Spirit">Spirit</option>
  <option value="Rad">Rad</option>
  <option value="Awesome">Awesome</option>
  <option value="Chill">Chill</option>
  <option value="Rocket">Rocket</option>
  <option value="Blaze">Blaze</option>
</select>
</div>

<div class="grid-container">
  {% for person in persons %}
    <a href="/squad1H/{{ person.id }}">
      <article class="grid-item">
        <p>{{ person.name }}</p>
        {% if person.github_handle %}
          <img src="https://github.com/{{ person.github_handle }}.png" alt="{{ person.name }}">
        {% else %}
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Toyger_cat_transparent.png" alt="Default Avatar {{ person.name }}">
        {% endif %}
      </article>
    </a>
  {% endfor %}
</div>
</main>

{% render 'partials/foot.liquid', squads: squads %}